<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artist</title>
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="icon"
      href="https://png.pngtree.com/element_our/20190601/ourmid/pngtree-music-icon-image_1344442.jpg"
    />
  </head>

  <body>
    <div class="nav-form">
      <nav class="nav-bar">Artists</nav>
      <div class="form-div">
        <form action="/search" method="get">
          <label style="display: block;">search for artiste</label>
          <input type="text" name="name" class="put-search">
          <input type="submit" class="ipt-bnt" value="search">
        </form>
      </div>
    </div>
    <div class="Parrent-Container">
      <div class="Container">
        {{range .}}
        <div class="Profile">
          <div class="image">
            <a href="/art?id={{.Id}}">
              <img src="{{.Image}}" alt="{{.Name}}" class="artisimage" />
            </a>
          </div>
          <span class="Name">{{.Name}}</span>
        </div>
        {{end}}
      </div>
    </div>
    <div class="github">
      <div>
        my github <a href="https://github.com/ysnbhb">YSNBHB </a>
      </div>
    </div>
  </body>
</html>
